.videoSlider {
  position: relative;
  padding: 40px 0px;
  width: 100%;
  /* height: 100vh; */
  background-color: #000000;
  background-image: url("/overlay2.jpg");
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  border-top: 2px solid #edbe6e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .videoSlider::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(8px);
} */

.videoSlider::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #edbe6e;
  background: radial-gradient(circle,
      rgba(237, 190, 110, 0.199) 0%,
      rgba(0, 0, 0, 1) 62%);
  z-index: -1;
  filter: blur(8px);
}

.title {
  font-size: 52px;
  font-weight: 800;
  color: #edbe6e;
  text-align: center;
  z-index: 3;
}

.p {
  font-size: 12px;
  font-weight: 500;
  color: #6a6a6a;
}

.container {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.slider {
  width: 70vw;
  height: 690px;
  perspective: 175px;
  perspective-origin: 50% 100%;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 65%;
  height: 500px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cardInfo {
  width: 100%;
  padding: 0.5em 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  z-index: 2;
  height: 25px;
  border-bottom: 1px solid #303030;
}

.cardItem p {
  font-size: 7px;
  color: #6a6a6a;
}

.cardItem:nth-child(2) {
  text-align: center;
}

.cardItem:nth-child(2) p {
  font-size: 8px;
  font-weight: 600;
  color: #fff;
}

.cardItem:nth-child(3) {
  text-align: right;
}

.videoPlayer {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.videoPlayer>div {
  position: relative;
  transform: scale(1.5);
}

.button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #edbe6e;
  border: 2px solid #edbe6e8a;
  font-weight: bold;
  border-radius: 8em;
  outline: none;
  margin-top: 40px;
}

.button:hover {
  background-color: #edbe6e;
  color: #070707;
}

@media (min-width: 1600px) {
  .card {
    width: 53%;
  }
}

@media (max-width: 900px) {
  .videoPlayer>div {
    transform: scale(3);
  }

  .slider {
    width: 100%;
  }

  .card {
    width: 60%;
  }

  .title {
    font-size: 47px;
  }
}